<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSharpRodrigoCamini.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSharpRodrigoCamini.Properties.Settings>
            <setting name="BROWSER" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="DEFAULT_TIMEOUT_IN_SECONDS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DB_PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>bugtracker</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_CONNECTION_TIMEOUT" serializeAs="String">
                <value />
            </setting>
            <setting name="REPORT_NAME" serializeAs="String">
                <value>CSharpSeleniumTemplateReport</value>
            </setting>
            <setting name="DEFAUL_APPLICATION_URL" serializeAs="String">
                <value>http://mantis-prova.base2.com.br</value>
            </setting>
            <setting name="REPORT_PATH" serializeAs="String">
                <value>C:\Users\Rodrigo Camini\Documents\Reports\</value>
            </setting>
            <setting name="DB_URL" serializeAs="String">
                <value>192.168.99.100:8989</value>
            </setting>
            <setting name="EXECUTION" serializeAs="String">
                <value>remota</value>
            </setting>
            <setting name="SELENIUM_HUB" serializeAs="String">
                <value>http://192.168.99.100:4444/wd/hub</value>
            </setting>
        </CSharpRodrigoCamini.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>